/* Your app's CSS, go crazy, make it your own */
.body{
	margin:0;
	padding:0;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bar-autogram{
	background-color:#8ea4a4;
}

.bar .title{
	font-size: 22px;
	color:white;
}

.title-img{
	margin-right:.3em;
	margin-top:.3em;
}

.icon{
	color:white;
}

.tabs{
	background-color:#8ea4a4;
	position:relative;
	margin-top:-9px;
}

.tab-item{
	font-size:2.5em;
	color:white;
	opacity:1;
}

canvas{
	background-color:white;
}

.circle {
	display:inline-block;
	margin:5px 2px 5px 2px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.selected {
	border:5px dashed orange;
}

.red{
	background-color:red;
}

.blue{
	background-color:blue;
}

.green{
	background-color:green;
}

.yellow{
	background-color:yellow;
}

.white{
	background-color:white;
}

.black{
	background-color:black;
}

